.appContainer {
  display: flex;
}

.midiButtonsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 20px;
  max-width: 400px;
}

.midiButton {
  width: 60px;
  height: 60px;
  margin: 10px;
  background-color: #5093f9;
  border: 2px solid #132665;
  border-radius: 100px;
}

.midiButton:hover {
  cursor: pointer;
  background-color: #226ad7;
}

.midiButton:active {
  background-color: #132665;
}

.midiButton.selected {
  background-color: #132665;
}

.startButton {
  display: block;
  margin: 20px;
  width: 400px;
  height: 200px;
  font-size: 2rem;
  background-color: #b9f9d2;
  border: 1px solid #64a57d;
}
.startButton:hover {
  cursor: pointer;
  background-color: #a0ebbd;
}

.sidebar {
  margin: 20px;
  padding: 20px;
  font-size: 1.6rem;
  max-width: 300px;
  background-color: #e9f1fc;
  border: 1px solid #b6cff3;
  border-radius: 8px;
}
