.midiButtonsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 20px auto;
  max-width: 400px;
}

.midiButton {
  width: 60px;
  height: 60px;
  margin: 10px;
  background-color: #5093f9;
  border: 2px solid #132665;
  border-radius: 100px;
}

.midiButton:hover {
  cursor: pointer;
}

.midiButton:active {
  background-color: #132665;
}

.midiButton.selected {
  background-color: #132665;
}

.startButton {
  display: block;
  margin: 20px auto;
  width: 400px;
  height: 160px;
  font-size: 2rem;
}
